<div class="form-section">
  <!-- title of the form-->
  <div class="title">
    <h2 class="form-title">Schedule New Class</h2>
    <button mat-icon-button class="close-icon" style="padding: 0px" (click)="closeDialog()">
      <img src="../../../../assets/images/icon/close-icon.png">
    </button>
  </div>

  <!--- form -->
  <form [formGroup]="classForm" class="example-form" (ngSubmit)="onSubmit()">
    <div class="row">
      <mat-form-field appearance="outline" class="half-width">
        <input matInput placeholder="Ex: Cardio" formControlName="classTitle" />
        <span class="required-message" *ngIf="submitted && classForm.get('classTitle').invalid">
          <ng-container *ngIf="classForm.get('classTitle').hasError('required')">Class Title is required</ng-container>
          <ng-container *ngIf="classForm.get('classTitle').hasError('maxlength')">Maximum 50 characters
            allowed</ng-container>
        </span>
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Description</mat-label>
        <input matInput placeholder="Ex: 2 hour cardio session" formControlName="description" />
        <span class="required-message" *ngIf="submitted && classForm.get('description').invalid">
          <ng-container *ngIf="classForm.get('description').hasError('required')">Class Title is required</ng-container>
          <ng-container *ngIf="classForm.get('description').hasError('maxlength')">Maximum 200 characters
            allowed</ng-container>
        </span>
      </mat-form-field>
    </div>

    <!-- Row 2 -->
    <div class="row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="date" formControlName="date" placeholder="MM/DD/YYYY"
          (dateChange)="onDateChange($event)" />
        <span class="required-message" *ngIf="submitted && classForm.get('date').invalid">
          <ng-container *ngIf="classForm.get('date').hasError('required')">Date is required</ng-container>
          <ng-container *ngIf="classForm.get('date').errors?.['invalidDate']">Invalid date format</ng-container>
          <ng-container *ngIf="classForm.get('date').errors?.['futureDateValidator']">
            Class date must be today or a future date
          </ng-container>
        </span>
        <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
        <mat-datepicker #date></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Start Time</mat-label>
        <input matInput placeholder="" formControlName="startTime" type="time" />
        <span class="required-message" *ngIf="submitted && classForm.get('startTime').invalid">
          <ng-container *ngIf="classForm.get('startTime').hasError('required')">Start Time is required</ng-container>
          <ng-container *ngIf="classForm.errors?.['startTimeBeforeEndTimeValidator']">Start Time is
            required</ng-container>
        </span>
        <span class="required-message" *ngIf="submitted && classForm.errors">
          <ng-container *ngIf="classForm.errors?.['startTimeBeforeEndTimeValidator']">Start time must be before end
            time</ng-container>
        </span>
      </mat-form-field>
    </div>

    <!-- Row 3 -->
    <div class="row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>End Time</mat-label>
        <input matInput placeholder="" formControlName="endTime" type="time" />
        <span class="required-message" *ngIf="submitted && classForm.get('endTime').invalid">
          <ng-container *ngIf="classForm.get('endTime').hasError('required')">End Time is required</ng-container>
        </span>
        <span class="required-message" *ngIf="submitted && classForm.errors">
          <ng-container *ngIf="classForm.errors?.['startTimeBeforeEndTimeValidator']">End time must be after start
            time</ng-container>
        </span>
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Conductor Name</mat-label>
        <input matInput formControlName="conductorName" placeholder="Ex. Smith" />
        <span class="required-message" *ngIf="submitted && classForm.get('conductorName').invalid">
          <ng-container *ngIf="classForm.get('conductorName').hasError('required')">Conductor Name is
            required</ng-container>
          <ng-container *ngIf="classForm.get('conductorName').hasError('maxlength')">Maximum 50 characters
            allowed</ng-container>
          <ng-container *ngIf="classForm.get('conductorName').hasError('pattern')">
            Numbers and special characters are not allowed
          </ng-container>
        </span>
      </mat-form-field>
    </div>

    <!-- Row 4 -->
    <div class="row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Profession</mat-label>
        <input matInput formControlName="profession" placeholder="" />
        <span class="required-message" *ngIf="submitted && classForm.get('profession').invalid">
          <ng-container *ngIf="classForm.get('profession').hasError('required')">Profession is required</ng-container>
          <ng-container *ngIf="classForm.get('profession').hasError('maxlength')">Maximum 50 characters
            allowed</ng-container>
          <ng-container *ngIf="classForm.get('profession').hasError('pattern')">
            Numbers and special characters are not allowed
          </ng-container>
        </span>
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Number of Slots</mat-label>
        <input matInput formControlName="totalSlots" placeholder="" type="number" />
        <span class="required-message" *ngIf="submitted && classForm.get('totalSlots').invalid">
          <ng-container *ngIf="classForm.get('totalSlots').hasError('required')">Number of Slots is
            required</ng-container>
          <ng-container *ngIf="classForm.get('totalSlots').hasError('min')">Minimum 1 slot is required</ng-container>
          <ng-container *ngIf="classForm.get('totalSlots').hasError('max')">Maximum allowed slots is 25</ng-container>
          <ng-container *ngIf="classForm.get('totalSlots').hasError('pattern')">Only numeric values are
            allowed.</ng-container>
        </span>
      </mat-form-field>
    </div>

    <!-- Row 5 -->
    <div class="row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Class fee (LKR)</mat-label>
        <input matInput formControlName="fee" placeholder="" />
        <span class="required-message" *ngIf="submitted && classForm.get('fee').invalid">
          <ng-container *ngIf="classForm.get('fee').hasError('required')">Class fee is required</ng-container>
          <ng-container *ngIf="classForm.get('fee').hasError('min')">Fee cannot be negative</ng-container>
          <ng-container *ngIf="classForm.get('fee').hasError('pattern')">
            Enter a valid amount (up to 2 decimal places, e.g., 1500 or 1500.50)
          </ng-container>
        </span>
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option value="Scheduled">Scheduled</mat-option>
          <mat-option value="Cancelled">Cancelled</mat-option>
          <mat-option value="Completed">Completed</mat-option>
        </mat-select>
        <span class="required-message" *ngIf="submitted && classForm.get('status').invalid">
          <ng-container *ngIf="classForm.get('status').hasError('required')">Status is required</ng-container>
        </span>
      </mat-form-field>
    </div>

    <div class="row">
      <button type="submit" mat-raised-button class="register-button half-width" [disabled]="submitDisabled">
        {{ saveButtonLabel }}
      </button>
      <button type="reset" mat-raised-button class="reset-button half-width" (click)="resetData()">Reset</button>
    </div>
  </form>
</div>