<div class="supplement-details-container">
  <h2 class="page-title">Supplement Details</h2>

  <!-- Back Button -->
  <button mat-button class="back-button" (click)="backToBrowsePage()">
    <img src="../../../../assets/images/icon/back-arrow.png">
    Back
  </button>

  <div class="supplement-main">
    <img [src]="supplement?.imageSrc" alt="{{ supplement?.productName || supplement?.name }}" class="supplement-image" />

    <div class="supplement-info">
      <h3>{{ supplement?.productName || supplement?.name }}</h3>

      <p>
        <strong>Brand:</strong>
        {{ supplement?.brand }}
      </p>
      <p>
        <strong>Category:</strong>
        {{ supplement?.category }}
      </p>
      <p>
        <strong>Price:</strong>
        Rs. {{ supplement?.retailPrice }}
      </p>
      <p>
        <strong>Available Stock:</strong>
        {{ supplement?.quantityInStock }}
      </p>
      <p>
        <strong>Quantity per Unit:</strong>
        {{ supplement?.quantityPerUnit }} {{ supplement?.unit }}
      </p>

      <div class="cart-actions">
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" [(ngModel)]="quantity" min="1" max="{{ supplement?.quantityInStock }}" />
        <!-- <button (click)="addToCart()">Add to Cart</button> -->
        <button class="checkoutButton" (click)="checkout(supplement)">Checkout</button>
      </div>
    </div>
  </div>

  <div class="supplement-description">
    <h4>Description</h4>
    <p>{{ supplement?.description }}</p>
  </div>
</div>
