<div class="checkout-container">
  <!-- Shipping & Billing Form -->
  <div class="billing-form">
    <h2>Student Details</h2>
    <!-- Back Button -->
    <button mat-button class="back-button" (click)="backButton()">
      <mat-icon>arrow_back</mat-icon>
      Back
    </button>
    <form [formGroup]="classBookForm">
      <div class="form-group">
        <div class="row">
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>First Name</mat-label>
            <input matInput matInput maxlength="20" placeholder="Enter First Name" type="text" formControlName="firstName" />
          </mat-form-field>
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Last Name</mat-label>
            <input matInput matInput maxlength="20" placeholder="Enter Last Name" type="text" formControlName="lastName" />
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Email</mat-label>
            <input matInput matInput maxlength="50" placeholder="Enter Email" type="email" formControlName="email" />
          </mat-form-field>
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Phone</mat-label>
            <input matInput matInput maxlength="10" placeholder="Enter Phone" type="text" formControlName="phone" />
          </mat-form-field>
        </div>

        <div class="row">
          <div class="half-width pdf-upload-wrapper">
            <label for="pdfUpload">Upload Payslip (Image)</label>
            <input type="file" id="pdfUpload" accept="application/pdf" (change)="onFileSelected($event)" required />
          </div>
        </div>
      </div>
    </form>
  </div>

  <!-- Order Summary -->
  <div class="order-summary">
    <h2>Class Details</h2>
    <div class="summary-item">
      <strong>Class Title:</strong>
      {{ class.classTitle }}
    </div>
    <div class="summary-item">
      <strong>Description:</strong>
      {{ class.description }}
    </div>
    <div class="summary-item">
      <strong>Date:</strong>
      {{ class.date | date: 'MMM d, y' }}
    </div>
    <div class="summary-item">
      <strong>Time:</strong>
      {{ formatTime(class.startTime) }} - {{ formatTime(class.endTime) }}
    </div>
    <div class="summary-item total">
      <strong>Fee:</strong>
      {{ class.fee }} LKR
    </div>
    <button class="place-order-btn" (click)="bookClass()">Book Class</button>
  </div>
</div>
