<div class="form-section">
  <!-- title of the form-->
  <div class="title">
    <h2 class="form-title">Add New Member</h2>
    <button mat-icon-button class="close-icon" style="padding: 0px" (click)="closeDialog()">
      <mat-icon fontIcon="close"></mat-icon>
    </button>
  </div>

  <!--- form -->
  <form [formGroup]="memberForm" class="example-form" (ngSubmit)="onSubmit()">
    <div class="row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Member No</mat-label>
        <mat-icon matPrefix>badge</mat-icon>
        <input matInput maxlength="5" placeholder="Ex. M001" formControlName="memberNo" type="text" />
        <span class="required-message" *ngIf="submitted && memberForm.get('memberNo').invalid">
          <ng-container *ngIf="memberForm.get('memberNo').hasError('required')">Member No is Required</ng-container>
          <ng-container *ngIf="memberForm.get('memberNo').hasError('minlength')">Minimum 5 characters required</ng-container>
          <ng-container *ngIf="memberForm.get('memberNo').hasError('maxlength')">Maximum 5 characters allowed</ng-container>
        </span>
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>First Name</mat-label>
        <mat-icon matPrefix>person</mat-icon>
        <input matInput matInput maxlength="10" placeholder="Ex. Mike" formControlName="firstName" type="text" />
        <span class="required-message" *ngIf="submitted && memberForm.get('firstName').invalid">
          <ng-container *ngIf="memberForm.get('firstName').hasError('required')">First Name is required</ng-container>
          <ng-container *ngIf="memberForm.get('firstName').hasError('minlength')">Minimum 3 characters required</ng-container>
          <ng-container *ngIf="memberForm.get('firstName').hasError('pattern')">Only letters allowed</ng-container>
        </span>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Last Name</mat-label>
        <mat-icon matPrefix>person_outline</mat-icon>
        <input matInput matInput maxlength="10" placeholder="Ex. David" formControlName="lastName" type="text" />
        <span class="required-message" *ngIf="submitted && memberForm.get('lastName').invalid">
          <ng-container *ngIf="memberForm.get('lastName').hasError('required')">Last Name is required</ng-container>
          <ng-container *ngIf="memberForm.get('lastName').hasError('minlength')">Minimum 3 characters required</ng-container>
          <ng-container *ngIf="memberForm.get('lastName').hasError('pattern')">Only letters allowed</ng-container>
        </span>
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>NIC</mat-label>
        <mat-icon matPrefix>credit_card</mat-icon>
        <input matInput matInput maxlength="12" placeholder="Ex. 512478912315" formControlName="nic" type="text" />
        <span class="required-message" *ngIf="submitted && memberForm.get('nic').invalid">
          <ng-container *ngIf="memberForm.get('nic').hasError('required')">NIC is required</ng-container>
          <ng-container *ngIf="memberForm.get('nic').hasError('minlength')">Invalid NIC format</ng-container>
          <ng-container *ngIf="memberForm.get('nic').hasError('pattern')">Invalid NIC format</ng-container>
        </span>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Date of Birth</mat-label>
        <mat-icon matPrefix>cake</mat-icon>
        <input matInput [matDatepicker]="dob" placeholder="MM/DD/YYYY" formControlName="dateOfBirth" />
        <mat-datepicker-toggle matIconSuffix [for]="dob"></mat-datepicker-toggle>
        <mat-datepicker #dob></mat-datepicker>
        <span class="required-message" *ngIf="submitted && memberForm.get('dateOfBirth').invalid">
          <ng-container *ngIf="memberForm.get('dateOfBirth').hasError('required')">Date of Birth is required</ng-container>
          <ng-container *ngIf="memberForm.get('dateOfBirth').hasError('futureDate')">Future dates not allowed</ng-container>
        </span>
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Address</mat-label>
        <mat-icon matPrefix>home</mat-icon>
        <textarea matInput maxlength="100" placeholder="Ex. 123, ABC Road, Kandy" formControlName="address"></textarea>
        <span class="required-message" *ngIf="submitted && memberForm.get('address').invalid">
          <ng-container *ngIf="memberForm.get('address').hasError('required')">Address is required</ng-container>
        </span>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Phone Number</mat-label>
        <mat-icon matPrefix>call</mat-icon>
        <input matInput maxlength="10" placeholder="Ex. 1529867523" formControlName="phoneNumber" />
        <span class="required-message" *ngIf="submitted && memberForm.get('phoneNumber').invalid">
          <ng-container *ngIf="memberForm.get('phoneNumber').hasError('required')">Phone Number is required</ng-container>
          <ng-container *ngIf="memberForm.get('phoneNumber').hasError('pattern')">Must be a 10-digit number</ng-container>
        </span>
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Email</mat-label>
        <mat-icon matPrefix>email</mat-icon>
        <input matInput maxlength="50" placeholder="Ex. abc@gmail.com" formControlName="email" type="email" />
        <span class="required-message" *ngIf="submitted && memberForm.get('email').invalid">
          <ng-container *ngIf="memberForm.get('email').hasError('required')">Email is required</ng-container>
          <ng-container *ngIf="memberForm.get('email').hasError('email')">Invalid email format</ng-container>
        </span>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Emergency Contact</mat-label>
        <mat-icon matPrefix>contact_phone</mat-icon>
        <input matInput maxlength="10" placeholder="Ex. 1529867523" formControlName="emergencyContactNumber" />
        <span class="required-message" *ngIf="submitted && memberForm.get('emergencyContactNumber').invalid">
          <ng-container *ngIf="memberForm.get('emergencyContactNumber').hasError('required')">Emergency contact is required</ng-container>
          <ng-container *ngIf="memberForm.get('emergencyContactNumber').hasError('pattern')">Must be a 10-digit number</ng-container>
        </span>
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Blood Type</mat-label>
        <mat-icon matPrefix>bloodtype</mat-icon>
        <mat-select formControlName="bloodType">
          <mat-option value="A+">A+</mat-option>
          <mat-option value="A-">A-</mat-option>
          <mat-option value="B+">B+</mat-option>
          <mat-option value="B-">B-</mat-option>
          <mat-option value="AB+">AB+</mat-option>
          <mat-option value="AB-">AB-</mat-option>
          <mat-option value="O+">O+</mat-option>
          <mat-option value="O-">O-</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Joined Date</mat-label>
        <mat-icon matPrefix>event</mat-icon>
        <input matInput [matDatepicker]="join" placeholder="MM/DD/YYYY" formControlName="joinedDate" />
        <mat-datepicker-toggle matIconSuffix [for]="join"></mat-datepicker-toggle>
        <mat-datepicker #join></mat-datepicker>
        <span class="required-message" *ngIf="submitted && memberForm.get('joinedDate').invalid">
          <ng-container *ngIf="memberForm.get('joinedDate').hasError('required')">Joined Date is required</ng-container>
          <ng-container *ngIf="memberForm.get('joinedDate').hasError('futureDate')">Future dates not allowed</ng-container>
        </span>
      </mat-form-field>

      <mat-radio-group appearance="outline" aria-label="Gender" class="half-width" formControlName="gender">
        <mat-label>Gender</mat-label>
        <mat-radio-button value="male">Male</mat-radio-button>
        <mat-radio-button value="female">Female</mat-radio-button>
        <span class="required-message" *ngIf="submitted && memberForm.get('gender').invalid">
          <ng-container *ngIf="memberForm.get('gender').hasError('required')">Gender is required</ng-container>
        </span>
      </mat-radio-group>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Injuries</mat-label>
        <mat-icon matPrefix>healing</mat-icon>
        <textarea matInput formControlName="injuries"></textarea>
        <span class="required-message" *ngIf="submitted && memberForm.get('injuries').invalid">
          <ng-container *ngIf="memberForm.get('injuries').hasError('maxLength')">Maximum 300 characters allowed</ng-container>
        </span>
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Membership Category</mat-label>
        <mat-icon matPrefix>fitness_center</mat-icon>
        <mat-select formControlName="membershipCategory">
          <mat-option value="online">Online</mat-option>
          <mat-option value="physical">Physical</mat-option>
        </mat-select>
        <span class="required-message" *ngIf="submitted && memberForm.get('membershipCategory').invalid">
          <ng-container *ngIf="memberForm.get('membershipCategory').hasError('required')">Membership Category is required</ng-container>
        </span>
      </mat-form-field>
    </div>

    <div class="row upload-section">
      <button [disabled]="submitted" type="button" mat-raised-button (click)="fileInput.click()" class="choose-file-btn">
        <mat-icon style="margin-right: 6px">image</mat-icon>
        Choose File
      </button>

      <div>
        <img class="image-preview" [src]="selectedImageUrl ? selectedImageUrl : 'assets/images/authentication/google.svg'" alt="Preview" />
      </div>

      <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file" />
    </div>

    <div class="row">
      <button type="submit" mat-raised-button color="primary" class="register-button half-width" [disabled]="submitDisabled">
        {{ registerButtonLabel }}
      </button>
      <button type="reset" mat-raised-button class="reset-button half-width" (click)="resetData()">Reset</button>
    </div>
  </form>
</div>
