<div class="form-section">
  <!-- title of the form-->
  <div class="title">
    <h2 class="form-title">Add New Member</h2>
    <button mat-icon-button class="close-icon" style="padding: 0px" (click)="closeDialog()">
      <mat-icon fontIcon="close"></mat-icon>
    </button>
  </div>

  <!--- form -->
  <form [formGroup]="memberForm" class="example-form" (ngSubmit)="onSubmit()">
    <div class="row">
      <mat-form-field class="half-width">
        <mat-label>Member No</mat-label>
        <input matInput maxlength="5" placeholder="Ex. M001" formControlName="memberNo" type="text" />
      </mat-form-field>

      <mat-form-field class="half-width">
        <mat-label>First Name</mat-label>
        <input matInput matInput maxlength="10" placeholder="Ex. Mike" formControlName="firstName" type="text" />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="half-width">
        <mat-label>Last Name</mat-label>
        <input matInput matInput maxlength="10" placeholder="Ex. David" formControlName="lastName" type="text" />
      </mat-form-field>

      <mat-form-field class="half-width">
        <mat-label>NIC</mat-label>
        <input matInput matInput maxlength="12" placeholder="Ex. 512478912315" formControlName="nic" type="text" />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="half-width">
        <mat-label>Date of Birth</mat-label>
        <input matInput [matDatepicker]="dob" placeholder="MM/DD/YYYY" formControlName="dateOfBirth" />
        <mat-datepicker-toggle matIconSuffix [for]="dob"></mat-datepicker-toggle>
        <mat-datepicker #dob></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="half-width">
        <mat-label>Address</mat-label>
        <textarea matInput maxlength="100" placeholder="Ex. 123, ABC Road, Kandy" formControlName="address"></textarea>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="half-width">
        <mat-label>Phone Number</mat-label>
        <input matInput maxlength="10" placeholder="Ex. 1529867523" formControlName="phoneNumber" />
      </mat-form-field>

      <mat-form-field class="half-width">
        <mat-label>Email</mat-label>
        <input matInput maxlength="50" placeholder="Ex. abc@gmail.com" formControlName="email" type="email" />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="half-width">
        <mat-label>Emergency Contact</mat-label>
        <input matInput maxlength="10" placeholder="Ex. 1529867523" formControlName="emergencyContactNumber" />
      </mat-form-field>

      <mat-form-field class="half-width">
        <mat-label>Blood Type</mat-label>
        <mat-select formControlName="bloodType">
          <mat-option value="A+">A+</mat-option>
          <mat-option value="A-">A-</mat-option>
          <mat-option value="B+">B+</mat-option>
          <mat-option value="B-">B-</mat-option>
          <mat-option value="AB+">AB+</mat-option>
          <mat-option value="AB-">AB-</mat-option>
          <mat-option value="O+">O+</mat-option>
          <mat-option value="O-">O-</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="half-width">
        <mat-label>Joined Date</mat-label>
        <input matInput [matDatepicker]="join" placeholder="MM/DD/YYYY" formControlName="joinedDate" />
        <mat-datepicker-toggle matIconSuffix [for]="join"></mat-datepicker-toggle>
        <mat-datepicker #join></mat-datepicker>
      </mat-form-field>

      <mat-radio-group aria-label="Gender" class="half-width" formControlName="gender">
        <mat-label>Gender</mat-label>
        <mat-radio-button value="male">Male</mat-radio-button>
        <mat-radio-button value="female">Female</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="row">
      <mat-form-field class="half-width">
        <mat-label>Injuries</mat-label>
        <textarea matInput formControlName="injuries"></textarea>
      </mat-form-field>

      <mat-form-field class="half-width">
        <mat-label>Membership Category</mat-label>
        <mat-select formControlName="membershipCategory">
          <mat-option value="online">Online</mat-option>
          <mat-option value="physical">Physical</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <button [disabled]="submitted" type="button" mat-raised-button (click)="fileInput.click()" class="mb-2">Choose File</button>
      <div>
        <img [src]="selectedImageUrl ? selectedImageUrl : 'assets/images/authentication/google.svg'" width="50px" height="50px" />
      </div>
      <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file" />
    </div>

    <div class="row">
      <button type="submit" mat-raised-button color="primary" class="register-button half-width" [disabled]="isButtonDisabled">
        {{ registerButtonLabel }}
      </button>
      <button type="reset" mat-raised-button class="reset-button half-width" (click)="resetData()">Reset</button>
    </div>
  </form>
</div>
