<div class="dialog-container">

  <!-- Header -->
  <div class="dialog-header">
    <h3>{{ data ? 'Update' : 'Add' }} Privilege Group</h3>
  </div>

  <!-- Form -->
  <form [formGroup]="privilegeGroupForm" (ngSubmit)="onFormSubmit()" class="dialog-body">

    <div class="row">

      <div class="field">
        <label>Group Name *</label>
        <input type="text" placeholder="Ex. Admin" formControlName="groupName" />
      </div>

      <div class="field">
        <label>Group Description</label>
        <input type="text" placeholder="Ex. Admin Group" formControlName="groupDescription" />
      </div>

    </div>

    <!-- Actions -->
    <div class="action">
      <button type="button" class="btn secondary" (click)="closeDialog()">Cancel</button>
      <button type="submit" class="btn primary">
        {{ data ? 'Update' : 'Save' }}
      </button>
    </div>

  </form>

</div>