<div class="progress-charts">
  <div class="charts-grid">
    <div class="chart-card">
      <h3>Monthly Present Member Count</h3>
      <apx-chart
        [series]="memberMonthlyAttendanceChartOptions.series"
        [chart]="memberMonthlyAttendanceChartOptions.chart"
        [xaxis]="memberMonthlyAttendanceChartOptions.xaxis"
        [yaxis]="memberMonthlyAttendanceChartOptions.yaxis"
        [colors]="memberMonthlyAttendanceChartOptions.colors"
        [plotOptions]="memberMonthlyAttendanceChartOptions.plotOptions"
        [grid]="memberMonthlyAttendanceChartOptions.grid"
        [title]="memberMonthlyAttendanceChartOptions.title"
      ></apx-chart>
    </div>
  </div>
</div>
