<div class="progress-charts">
  <div class="charts-grid">
    <div class="chart-card">
      <h3>Monthly Present Employee Count</h3>
      <apx-chart
        [series]="employeeMonthlyAttendanceChartOptions.series"
        [chart]="employeeMonthlyAttendanceChartOptions.chart"
        [xaxis]="employeeMonthlyAttendanceChartOptions.xaxis"
        [yaxis]="employeeMonthlyAttendanceChartOptions.yaxis"
        [colors]="employeeMonthlyAttendanceChartOptions.colors"
        [plotOptions]="employeeMonthlyAttendanceChartOptions.plotOptions"
        [grid]="employeeMonthlyAttendanceChartOptions.grid"
        [title]="employeeMonthlyAttendanceChartOptions.title"
      ></apx-chart>
    </div>
    <div class="chart-card">
      <h3>Monthly Absent Employee Count</h3>
      <apx-chart
        [series]="employeeMonthlyAbsentChartOptions.series"
        [chart]="employeeMonthlyAbsentChartOptions.chart"
        [xaxis]="employeeMonthlyAbsentChartOptions.xaxis"
        [yaxis]="employeeMonthlyAbsentChartOptions.yaxis"
        [colors]="employeeMonthlyAbsentChartOptions.colors"
        [plotOptions]="employeeMonthlyAbsentChartOptions.plotOptions"
        [grid]="employeeMonthlyAbsentChartOptions.grid"
        [title]="employeeMonthlyAbsentChartOptions.title"
      ></apx-chart>
    </div>
    <div class="chart-card">
      <h3>Monthly Present Member Count</h3>
      <apx-chart
        [series]="memberMonthlyAttendanceChartOptions.series"
        [chart]="memberMonthlyAttendanceChartOptions.chart"
        [xaxis]="memberMonthlyAttendanceChartOptions.xaxis"
        [yaxis]="memberMonthlyAttendanceChartOptions.yaxis"
        [colors]="memberMonthlyAttendanceChartOptions.colors"
        [plotOptions]="memberMonthlyAttendanceChartOptions.plotOptions"
        [grid]="memberMonthlyAttendanceChartOptions.grid"
        [title]="memberMonthlyAttendanceChartOptions.title"
      ></apx-chart>
    </div>
    <div class="chart-card">
      <h3>Monthly Absent Member Count</h3>
      <apx-chart
        [series]="memberMonthlyAbsentChartOptions.series"
        [chart]="memberMonthlyAbsentChartOptions.chart"
        [xaxis]="memberMonthlyAbsentChartOptions.xaxis"
        [yaxis]="memberMonthlyAbsentChartOptions.yaxis"
        [colors]="memberMonthlyAbsentChartOptions.colors"
        [plotOptions]="memberMonthlyAbsentChartOptions.plotOptions"
        [grid]="memberMonthlyAbsentChartOptions.grid"
        [title]="memberMonthlyAbsentChartOptions.title"
      ></apx-chart>
    </div>
  </div>
</div>
