<!-- trainer-login.component.html -->
<div class="login-wrapper">
  <div class="login-box">
    <a href="javascript:">
      <img style="width: 250px; height: 80px; display: block; margin: 0 auto 20px" src="assets/images/dashboard-logo-dark.png" alt="logo" />
    </a>
    <div class="title">
      <h3>Member Login</h3>
      <a class="register-link" href="#">Don't have an account?</a>
    </div>

    <form [formGroup]="memberLoginForm" (ngSubmit)="login()">

      <!-- Member Select -->
      <mat-form-field appearance="outline" class="input-full">
                <mat-label>Member Name</mat-label>
        <mat-select formControlName="memberId" placeholder="Select Member" placeholder="Select Member">
          <mat-option *ngFor="let member of memberList" [value]="member.id">
            <span>{{ member.firstName }} {{ member.lastName }}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- firstName Input -->
      <mat-form-field appearance="outline" class="input-full names">
        <mat-label>First Name</mat-label>
        <input matInput type="text" formControlName="firstName" placeholder="Enter First Name"/>
      </mat-form-field>

      <!-- Password Input -->
      <mat-form-field appearance="outline" class="input-full names">
        <mat-label>Last Name</mat-label>
        <input matInput type="text" formControlName="lastName" placeholder="Enter Last Name"/>
      </mat-form-field>

      <!-- Password Input -->
      <mat-form-field appearance="outline" class="input-full">
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="userName" placeholder="Enter Username"/>
      </mat-form-field>

      <!-- Password Input -->
      <mat-form-field appearance="outline" class="input-full">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Enter Password" />
      </mat-form-field>

      <!-- Keep me signed in + Forgot -->
      <div class="login-options">
        <mat-checkbox>Keep me sign in</mat-checkbox>
        <a class="forgot-link" href="#">Forgot Password?</a>
      </div>

      <!-- Login Button -->
      <button mat-flat-button class="login-btn" [disabled]="memberLoginForm.invalid">Login</button>
    </form>
  </div>

  <!-- Footer -->
  <div class="footer">
    <span>Sometext here © by you</span>
    <div class="footer-links">
      <a href="#">Home</a>
      <a href="#">Privacy Policy</a>
      <a href="#">Contact us</a>
    </div>
  </div>
</div>
