<div class="form-section">
  <!-- title of the form-->
  <div class="title">
    <h2 class="form-title">Add Payment</h2>
    <button mat-icon-button class="close-icon" style="padding: 0px" (click)="closeDialog()">
      <mat-icon fontIcon="close"></mat-icon>
    </button>
  </div>

  <!--- form -->
  <form [formGroup]="paymentForm" class="example-form" (ngSubmit)="onSubmit()">
    <div class="row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Select Member</mat-label>
        <mat-icon matPrefix>person</mat-icon>
        <mat-select formControlName="member" (selectionChange)="onMemberSelected($event.value)">
          <mat-option *ngFor="let member of memberList" [value]="member.firstName">{{ member.firstName }} {{ member.lastName }}</mat-option>
        </mat-select>
        <span class="required-message" *ngIf="submitted && paymentForm.get('member').invalid">
          <ng-container *ngIf="paymentForm.get('member').hasError('required')">Member is required</ng-container>
        </span>
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Membership Category</mat-label>
        <mat-icon matPrefix>card_membership</mat-icon>
        <input matInput placeholder="Membership Category" formControlName="membershipCategory" readonly />
        <span class="required-message" *ngIf="submitted && paymentForm.get('membershipCategory').invalid">
          <ng-container *ngIf="paymentForm.get('membershipCategory').hasError('required')">Membership Category is required</ng-container>
        </span>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Amount</mat-label>
        <mat-icon matPrefix>payments</mat-icon>
        <input matInput placeholder="Payment amount" formControlName="amount" readonly />
        <span class="required-message" *ngIf="submitted && paymentForm.get('amount').invalid">
          <ng-container *ngIf="paymentForm.get('amount').hasError('required')">Membership Category is required</ng-container>
        </span>
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Status</mat-label>
        <mat-icon matPrefix>fact_check</mat-icon>
        <mat-select formControlName="status">
          <mat-option [value]="'Paid'">Paid</mat-option>
          <mat-option [value]="'Unpaid'">Unpaid</mat-option>
        </mat-select>
                <span class="required-message" *ngIf="submitted && paymentForm.get('status').invalid">
          <ng-container *ngIf="paymentForm.get('status').hasError('required')">Status is required</ng-container>
        </span>
      </mat-form-field>
    </div>

    <div class="row">
            <mat-form-field appearance="outline" class="half-width">
        <mat-label>Paid Date</mat-label>
        <mat-icon matPrefix>event_available</mat-icon>
        <input matInput [matDatepicker]="pd" formControlName="paymentDate" placeholder="MM/DD/YYYY" />
        <mat-datepicker-toggle matSuffix [for]="pd"></mat-datepicker-toggle>
        <mat-datepicker #pd></mat-datepicker>
        <span class="required-message" *ngIf="submitted && paymentForm.get('paymentDate').invalid">
          <ng-container *ngIf="paymentForm.get('paymentDate').hasError('required')">Date of Joining is required</ng-container>
        </span>
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Next Payment Date</mat-label>
        <mat-icon matPrefix>event_available</mat-icon>
        <input matInput [matDatepicker]="npd" formControlName="nextPaymentDate" placeholder="MM/DD/YYYY" />
        <mat-datepicker-toggle matSuffix [for]="npd"></mat-datepicker-toggle>
        <mat-datepicker #npd></mat-datepicker>
        <span class="required-message" *ngIf="submitted && paymentForm.get('nextPaymentDate').invalid">
          <ng-container *ngIf="paymentForm.get('nextPaymentDate').hasError('required')">Date of Joining is required</ng-container>
        </span>
      </mat-form-field>
    </div>

    <div class="row">
      <button type="submit" mat-raised-button class="register-button half-width" [disabled]="submitDisabled">
        {{ registerButtonLabel }}
      </button>
      <button type="reset" mat-raised-button class="reset-button half-width" (click)="resetData()">Reset</button>
    </div>
  </form>
</div>
