<div class="form-section">
  <!-- title of the form-->
  <div class="title">
    <h2 class="form-title">Add New Supplements</h2>
    <button mat-icon-button class="close-icon" style="padding: 0px" (click)="closeDialog()">
      <mat-icon fontIcon="close"></mat-icon>
    </button>
  </div>

  <!--- form -->
  <form class="example-form" [formGroup]="supplementForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Product Name</mat-label>
        <mat-icon matPrefix>inventory_2</mat-icon>
        <input matInput maxlength="100" placeholder="Enter Product Name" type="text" formControlName="productName" />
        <span class="required-message" *ngIf="submitted && supplementForm.get('productName').invalid">
          <ng-container *ngIf="supplementForm.get('productName').hasError('required')">Product Name is required</ng-container>
          <ng-container *ngIf="supplementForm.get('productName').hasError('minlength')">Minimum 2 characters required</ng-container>
          <ng-container *ngIf="supplementForm.get('productName').hasError('maxlength')">Maximum 100 characters allowed</ng-container>
        </span>
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Brand</mat-label>
        <mat-icon matPrefix>storefront</mat-icon>
        <input matInput matInput maxlength="100" placeholder="Enter Brand" type="text" formControlName="brand" />
        <span class="required-message" *ngIf="submitted && supplementForm.get('brand').invalid">
          <ng-container *ngIf="supplementForm.get('brand').hasError('required')">Brand is required</ng-container>
          <ng-container *ngIf="supplementForm.get('brand').hasError('minlength')">Minimum 2 characters required</ng-container>
          <ng-container *ngIf="supplementForm.get('brand').hasError('maxlength')">Maximum 50 characters allowed</ng-container>
        </span>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Category</mat-label>
        <mat-icon matPrefix>category</mat-icon>
        <mat-select formControlName="category" (selectionChange)="onCategoryChange($event)">
          <mat-option *ngFor="let category of supplementCategories" [value]="category">
            {{ category }}
          </mat-option>
        </mat-select>
        <span class="required-message" *ngIf="submitted && supplementForm.get('category').invalid">
          <ng-container *ngIf="supplementForm.get('category').hasError('required')">Category is required</ng-container>
        </span>
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Description</mat-label>
        <mat-icon matPrefix>description</mat-icon>
        <textarea matInput maxlength="2000" formControlName="description" placeholder="Enter Description"></textarea>
        <span class="required-message" *ngIf="submitted && supplementForm.get('description').invalid">
          <ng-container *ngIf="supplementForm.get('description').hasError('maxLength')">Maximum 500 characters allowed</ng-container>
        </span>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Quantity (per unit)</mat-label>
        <mat-icon matPrefix>scale</mat-icon>
        <input matInput matInput placeholder="Enter Quantity (per unit)" type="number" formControlName="quantityPerUnit" />
        <span class="required-message" *ngIf="submitted && supplementForm.get('quantityPerUnit').invalid">
          <ng-container *ngIf="supplementForm.get('quantityPerUnit').hasError('required')">Quantity Per Unit is required</ng-container>
          <ng-container *ngIf="supplementForm.get('quantityPerUnit').hasError('minlength')">Minimum 1 characters required</ng-container>
          <ng-container *ngIf="supplementForm.get('quantityPerUnit').hasError('pattern')">
            Enter a valid number (up to 2 decimal places).
          </ng-container>
        </span>
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Unit</mat-label>
        <mat-icon matPrefix>straighten</mat-icon>
        <mat-select formControlName="unit">
          <mat-option *ngFor="let unit of unitList" [value]="unit">
            {{ unit }}
          </mat-option>
        </mat-select>
        <span class="required-message" *ngIf="submitted && supplementForm.get('unit').invalid">
          <ng-container *ngIf="supplementForm.get('unit').hasError('required')">Unit is required</ng-container>
        </span>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Cost Price (LKR)</mat-label>
        <mat-icon matPrefix>attach_money</mat-icon>
        <input matInput matInput placeholder="Enter Cost Price (LKR)" type="number" formControlName="costPrice" />
        <span class="required-message" *ngIf="submitted && supplementForm.get('costPrice').invalid">
          <ng-container *ngIf="supplementForm.get('costPrice').hasError('required')">Cost Price is required</ng-container>
          <ng-container *ngIf="supplementForm.get('costPrice').hasError('minlength')">Cost Price cannot be 0</ng-container>
          <ng-container *ngIf="supplementForm.get('costPrice').hasError('pattern')">
            Enter a valid number (up to 2 decimal places).
          </ng-container>
        </span>
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Retail Price (LKR)</mat-label>
        <mat-icon matPrefix>price_change</mat-icon>
        <input matInput matInput placeholder="Enter Retail Price (LKR)" type="number" formControlName="retailPrice" />
        <span class="required-message" *ngIf="submitted && supplementForm.get('retailPrice').invalid">
          <ng-container *ngIf="supplementForm.get('retailPrice').hasError('required')">Retail Price is required</ng-container>
          <ng-container *ngIf="supplementForm.get('retailPrice').hasError('minlength')">Retail Price cannot be 0</ng-container>
          <ng-container *ngIf="supplementForm.get('retailPrice').hasError('pattern')">
            Enter a valid number (up to 2 decimal places).
          </ng-container>
        </span>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Quantity In Stock</mat-label>
        <mat-icon matPrefix>inventory</mat-icon>
        <input matInput matInput placeholder="Enter Quantity In Stock" type="number" formControlName="quantityInStock" />
        <span class="required-message" *ngIf="submitted && supplementForm.get('quantityInStock').invalid">
          <ng-container *ngIf="supplementForm.get('quantityInStock').hasError('required')">Quantity In Stock is required</ng-container>
          <ng-container *ngIf="supplementForm.get('quantityInStock').hasError('minlength')">Quantity In Stock cannot be 0</ng-container>
          <ng-container *ngIf="supplementForm.get('quantityInStock').hasError('pattern')">
            Enter a valid number (up to 2 decimal places).
          </ng-container>
        </span>
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Expiry Date</mat-label>
        <mat-icon matPrefix>event</mat-icon>
        <input matInput [matDatepicker]="ed" [min]="today" placeholder="MM/DD/YYYY" formControlName="expiryDate" />
        <span class="required-message" *ngIf="submitted && supplementForm.get('expiryDate').invalid">
          <ng-container *ngIf="supplementForm.get('expiryDate').hasError('futureDateValidator')">
            Expiry date must be a future date.
          </ng-container>
        </span>
        <mat-datepicker-toggle matIconSuffix [for]="ed"></mat-datepicker-toggle>
        <mat-datepicker #ed></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Supplier</mat-label>
        <mat-icon matPrefix>local_shipping</mat-icon>
        <mat-select formControlName="supplier">
          <mat-option *ngFor="let supplier of supplierList" [value]="supplier.supplierName">
            {{ supplier.supplierName }}
          </mat-option>
        </mat-select>
        <span class="required-message" *ngIf="submitted && supplementForm.get('supplier').invalid">
          <ng-container *ngIf="supplementForm.get('supplier').hasError('required')">Supplier is required</ng-container>
        </span>
      </mat-form-field>

      <div appearance="outline" class="half-width file-upload-container">
        <button
          mat-raised-button
          color="primary"
          class="choose-file-button"
          [disabled]="submitted"
          type="button"
          (click)="fileInput.click()"
        >
          <mat-icon class="mr-1">upload_file</mat-icon>
          {{ 'Choose File' }}
        </button>

        <input #fileInput type="file" hidden (change)="onFileSelected($event)" id="file" />

        <div class="file-name" *ngIf="selectedFileName">Selected: {{ selectedFileName }}</div>
      </div>
    </div>

    <div class="row">
      <button type="reset" mat-raised-button class="close-button half-width" (click)="closeDialog()">
        <mat-icon>close</mat-icon>
        Close
      </button>
      <button type="submit" mat-raised-button color="primary" class="submit-button half-width">
        <mat-icon>check</mat-icon>
        {{ saveButtonLabel }}
      </button>
    </div>
  </form>
</div>
