<div class="container">
  <!-- Table Section to the Right of Form -->
  <div class="table-section">
    <!-- title of the-->
    <h2 class="form-title"><img src="../../../../assets/images/icon/feedbacks-dark.png"
        style="margin-right: 5px;">Feedback History</h2>

    <div class="toolbar">
      <!-- add-new on the left -->
      <div class="add-new">
        <button type="reset" mat-raised-button class="new-button half-width" style="display: none;">
          <img src="../../../../assets/images/icon/add-light-icon.png"
            style="margin-right: 5px; height: 18px; width: 18px;">
          Add New Employee
        </button>
      </div>

      <!-- table filter-->
      <div class="table-filter">
        <!-- Search bar -->
        <div class="search-bar">
          <img src="../../../../assets/images/icon/search-icon.png"
            style="margin-right: 5px; height: 18px; width: 18px;">
          <input type="text" placeholder="Search..." (keyup)="applyFilter($event)" />
        </div>

        <!-- refresh button-->
        <button mat-icon-button class="refresh-button" (click)="refreshData()">
          <img src="../../../../assets/images/icon/refresh-icon.png"
            style="margin-right: 5px; height: 18px; width: 18px;">
        </button>
      </div>
    </div>

    <div class="table-wrapper">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- employeeId Column -->
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>Category</th>
          <td mat-cell *matCellDef="let element">{{ element.category }}</td>
        </ng-container>

        <!-- jobTitle Column -->
        <ng-container matColumnDef="trainer">
          <th mat-header-cell *matHeaderCellDef>Trainer</th>
          <td mat-cell *matCellDef="let element">{{ element.trainer || 'N/A' }}</td>
        </ng-container>

        <!-- dateOfJoining Column -->
        <!-- | date:'dd/MM/yyyy' -->
        <ng-container matColumnDef="rating">
          <th mat-header-cell *matHeaderCellDef>Rating</th>
          <td mat-cell *matCellDef="let element">{{ element.rating }} Stars</td>
        </ng-container>

        <!-- firstName Column -->
        <ng-container matColumnDef="feedback">
          <th mat-header-cell *matHeaderCellDef>Feedback</th>
          <td mat-cell *matCellDef="let element">{{ element.feedback }}</td>
        </ng-container>

        <!-- lastName Column -->
        <ng-container matColumnDef="submittedDate">
          <th mat-header-cell *matHeaderCellDef>Submitted Date</th>
          <td mat-cell *matCellDef="let element">{{ element.date | date: 'dd/MM/yyyy' }}</td>
        </ng-container>

        <!-- nic Column -->
        <ng-container matColumnDef="submittedBy">
          <th mat-header-cell *matHeaderCellDef>Submitted By</th>
          <td mat-cell *matCellDef="let element">{{ element.username }}</td>
        </ng-container>

        <!-- action Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <div class="action-column">
              <button mat-icon-button class="gray-icon-btn" matTooltip="Delete" (click)="deleteData(element)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <!-- No data row -->
      <ng-container *ngIf="dataSource.data.length === 0">
        <ng-container matColumnDef="noData" class="no-data">
          <td mat-cell [attr.colspan]="displayedColumns.length" class="no-data">No records found</td>
        </ng-container>

        <tr mat-row *matRowDef="let row; columns: ['noData']"></tr>
      </ng-container>
    </div>

    <!-- pagination-->
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users" class="pagination">
    </mat-paginator>
  </div>
</div>