<li class="nav-item coded-menu-caption">
  <label (click)="toggleGroup()" class="menu-label" [class.is-expanded]="isExpanded">
    <span class="menu-title">
      <img [src]="item.icon" style="margin-right: 5px; width:16px; height:16px;">
      {{ item.title }}
    </span>
    <img 
      class="menu-arrow" 
      [class.rotated]="isExpanded"
      src="../../../../assets/images/icon/expand-light.png">
  </label>
</li>

<div [@expandCollapse]="isExpanded ? 'expanded' : 'collapsed'" class="nav-group-children">
  @for (item of item.children; track item) {
    @if (item.type === 'collapse' && item.isVisible) {
      <app-nav-collapse [item]="item"></app-nav-collapse>
    } @else if (item.type === 'item') {
      <app-nav-item [item]="item"></app-nav-item>
    }
  }
</div>